<main class="index-content">
  {{nav-links isShowingReturn=false class="clearfix"}}

  <h1 class="text-center mb-4">Resources</h1>

  <ul class="resource-list">
    <li class="resource-item">
      {{#link-to "airlines" class="resource-link"}}
        <span class="resource-icon"><i class="far fa-building"></i></span>
        <span class="resource-name">airlines</span>
      {{/link-to}}
    </li>
    <li class="resource-item">
      {{#link-to "airports" class="resource-link"}}
        <span class="resource-icon"><i class="fas fa-map-marked"></i></span>
        <span class="resource-name">airports</span>
      {{/link-to}}
    </li>
    <li class="resource-item">
      {{#link-to "flights" class="resource-link"}}
        <span class="resource-icon"><i class="fas fa-plane-departure"></i></span>
        <span class="resource-name">flights</span>
      {{/link-to}}
    </li>
    <li class="resource-item">
      {{#link-to "instances" class="resource-link"}}
        <span class="resource-icon"><i class="far fa-calendar-alt"></i></span>
        <span class="resource-name">instances</span>
      {{/link-to}}
    </li>
    <li class="resource-item">
      {{#link-to "itineraries" class="resource-link"}}
        <span class="resource-icon"><i class="fas fa-list-ul"></i></span>
        <span class="resource-name">itineraries</span>
      {{/link-to}}
    </li>
    <li class="resource-item">
      {{#link-to "planes" class="resource-link"}}
        <span class="resource-icon"><i class="fas fa-plane"></i></span>
        <span class="resource-name">planes</span>
      {{/link-to}}
    </li>
    <li class="resource-item">
      {{#link-to "seats" class="resource-link"}}
        <span class="resource-icon"><i class="fas fa-grip-vertical"></i></span>
        <span class="resource-name">seats</span>
      {{/link-to}}
    </li>
    <li class="resource-item">
      {{#link-to "tickets" class="resource-link"}}
        <span class="resource-icon"><i class="fas fa-ticket-alt"></i></span>
        <span class="resource-name">tickets</span>
      {{/link-to}}
    </li>
  </ul>

  <p class="text-center mt-4">
    <button class="btn btn-danger btn-lg" {{action "clearDatabaseButtonWasPressed"}}>
      <i class="fas fa-eraser"></i> &nbsp;
      Erase Database
    </button>
  </p>
</main>