body {
  background-color: white;
  color: #333;

  @media(min-width: 30em) {
    background-color: rgb(31, 181, 201);
  }
}

a {
  color: rgb(31, 181, 201);

  &:hover,
  &:active {
    text-decoration: none;
    color: rgb(24, 106, 117);
  }
}