body {
  background-color: white;
  color: #333;
}

.one-form-page-wrapper {
  background-color: white;
  overflow: hidden;

  /* Mobile layout */
  width: 100%;
  padding: 1em;
}

@media(min-width: 30em) {
  body {
    background-color: rgb(31, 181, 201);
  }

  .one-form-page-wrapper {
    width:  30em;
    height: 35em;
    position: absolute;
    top:0; bottom: 0; left: 0; right: 0;
    margin: auto;

    border-radius: 10px;
    box-shadow: 2px 2px 10px 5px rgba(0, 0, 0, 0.15);
  }
}

.hidden {
  display: none;
}