.record-section {
  border-left: 0.4em solid rgb(31, 181, 201);
  background-color: lighten(desaturate(rgb(31, 181, 201), 58), 45);
  padding: 0.3em 0.6em;
  margin: 0.8em 0;
  border-radius: 0 7px 7px 0;

  @extend .noselect;

  &:hover {
    background-color: lighten(desaturate(rgb(31, 181, 201), 58), 50);
  }
}

.record-table {
  width: 100%;
}

.record-key {
  text-align: right;
  padding: 0.3em 0.5em;
  font-weight: bold;
}

.record-value {
  width: 100%;
  padding: 0.3em;
}

.record-controls {
  text-align: center;

  @media(min-width: 35em) {
    text-align: right;
  }
}