<main class="seats-page content-card full-page-max-width">
  <h1 class="mt-3 mb-3">
    Seats
    <small class="text-muted d-none d-sm-inline">Resource Page</small>
  </h1>

  <p class="text-right">
    <button type="button" class="btn btn-success" {{action "createButtonWasPressed"}}>
      <i class="fas fa-plus"></i>
      New
    </button>
  </p>

  {{#each records as |record|}}
    {{seat/record-manager record}}
  {{else}}
    <h4 class="text-muted text-center font-italic mb-4 mt-4">Your database currently has no seats.</h4>
  {{/each}}
</main>